#findUs {
	padding-bottom:53px;
	width: 1040px;
	margin: 0 auto;
}
#findUs .findUsTitle{
	text-align: center;
	margin-top: 53px;
	margin-bottom: 29px;
}
#findUs .findUsText{
	height:565px;
	background:#eeeeee;
	border:1px solid rgba(151,151,151,0.16);
}
#findUs .findUsText .findUsFont{
	margin: 146px 167px 83px;
	font-family:PingFangSC-Semibold;
	font-size:12px;
	color:rgba(0,0,0,0.65);
	letter-spacing:3px;
	line-height:28px;
	text-align:left;
	position: relative;
}
#findUs .findUsText .findUsFont:before{
	content: "\20";
	width: 138px;
	height: 30px;
	background-image: url(../image/findus/1B5D9F31-DDCD-41C1-97C3-EBE7F64F0679@1x.png);
	background-size: cover;
	position: absolute;
	top: -43px;
	left: 0;
}
#findUs .findUsText .findUsFont li{
	margin-top: 30px
}
#findUs .findUsText .findUsFont .findUsFontLi1{
	font-size:18px;
	margin-top:0;
	color: #000
}