*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	min-width: 1040px;
	background: white;
	font-family:HelveticaNeue-Thin,"Helvetica Neue",Helvetica,Arial,PingFangSC-Light,"PingFang SC", "Hiragino Sans GB","Heiti SC","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	line-height: 150%
}	
li{
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 60px;
	background: white;
	box-shadow: 0 2px 8px rgba(0,0,0,.4);
	position: fixed;
	z-index: 999;
}
header #head{
	width: 1040px;
	height: 60px;
	margin: 0 auto;
	position: relative;

}
header #head .headLogo{
	background: url(../image/head/0C01337C-B483-45A0-B1DC-9E929D2D2E26@1x.png);
	height: 30px;
	width: 139px;
	position: absolute;
	margin: 15px 0;	

}
header #head .navList{
	background: white;
	position: absolute;
	right: 0px;
	top: 15px;
	width: 510px;
	height:31px;
	
}
header #head .navList li{
	float: right;
	margin-left: 64px;
}
header #head .navList li.navList1{
	margin-left: 0;
}

header #head .navList li a{
	font-size:14px;
	color:rgba(0,0,0,0.65);
	letter-spacing:0;
	text-align:left;
	height: 30px;
	line-height: 30px;
	display: block;
		
}
header #head .navList li a.listNow{
	border-bottom:1px solid #bb1020;
	color: #bb1020;
}
header #head .navList li a:hover{
	border-bottom:1px solid #bb1020;
	color: #bb1020;
}
