#autoPlay{
	min-height: 560px;
	padding-top: 60px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	overflow: hidden;
	position: relative;
}
#autoPlay .autoPlayWarp{
	width: 100%;
	position: relative;
	min-width: 1040px;
	min-height: 560px;
	overflow: hidden;
}
#autoPlay .autoPlayWarp  li{
	width: inherit;
	background-size: cover;
	min-height: 560px;
	min-width: 1040px;
	height: inherit;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	cursor: pointer;
}
#autoPlay .autoPlayWarp .autoPlayLi1{
	background-image: url(../image/public/1C18E3E0-A482-49BB-8662-F3A62BA0A503@2x.png);
	display: block;
}
#autoPlay .autoPlayWarp .autoPlayLi2{
	background-image: url(../image/public/41FF3C78-6827-429C-A5F3-5E68C8F630D6@2x.png);
}
#autoPlay .autoPlayWarp .autoPlayLi3{
	background-image: url(../image/public/1C18E3E0-A482-49BB-8662-F3A62BA0A503@2x.png);
}
#autoPlay .autoPlayDot{
	position: absolute;
	left: 50%;
	bottom: 12px;
	margin-left: -44px;
}
#autoPlay .autoPlayDot li{
	background:#f3f3f3;
	box-shadow:1px 1px 1px 1px rgba(0,0,0,0.50);
	width:12px;
	height:12px;
	border-radius:100%;
	float: left;
	margin-left: 13px;
	cursor: pointer;
}
#autoPlay .autoPlayDot li.choose{
	background:#bb1020;
}
.chinese{
	font-size:36px;
	color:#000000;
	font-family:PingFangSC-Light;
}
.english{
	font-size:18px;
	color:#707070;
	opacity: 0.65
}